In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("Attrition data.csv") 
df.head(10)

,EmployeeID,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,Gender,...,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,JobInvolvement,PerformanceRating
0,1,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,Female,...,1.0,6,1,0,0,3.0,4.0,2.0,3,3
1,2,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,Female,...,6.0,3,5,1,4,3.0,2.0,4.0,2,4
2,3,32,No,Travel_Frequently,Research & Development,17,4,Other,1,Male,...,5.0,2,5,0,3,2.0,2.0,1.0,3,3
3,4,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,Male,...,13.0,5,8,7,5,4.0,4.0,3.0,2,3
4,5,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,Male,...,9.0,2,6,0,4,4.0,1.0,3.0,3,3
5,6,46,No,Travel_Rarely,Research & Development,8,3,Life Sciences,1,Female,...,28.0,5,7,7,7,3.0,2.0,2.0,3,3
6,7,28,Yes,Travel_Rarely,Research & Development,11,2,Medical,1,Male,...,5.0,2,0,0,0,1.0,3.0,1.0,3,4
7,8,29,No,Travel_Rarely,Research & Development,18,3,Life Sciences,1,Male,...,10.0,2,0,0,0,1.0,2.0,3.0,3,4
8,9,31,No,Travel_Rarely,Research & Development,1,3,Life Sciences,1,Male,...,10.0,2,9,7,8,2.0,4.0,3.0,3,4
9,10,25,No,Non-Travel,Research & Development,7,4,Medical,1,Female,...,6.0,2,6,1,5,2.0,1.0,3.0,3,3

In [6]:
import pandas as pd
import plotly.express as px
import dash
from dash import dcc, html
from dash.dependencies import Input, Output

# Load the data
df = pd.read_csv('processed_employee_attrition_data.csv')

# Initialize the Dash app
app = dash.Dash(__name__)

# Define the layout of the dashboard
app.layout = html.Div([
    html.H1("Employee Attrition Dashboard"),
    
    # Dropdown for selecting visualization
    html.Label("Select Visualization:"),
    dcc.Dropdown(
        id='visualization-dropdown',
        options=[
            {'label': 'Attrition Count', 'value': 'attrition_count'},
            {'label': 'Monthly Income vs Attrition', 'value': 'monthly_income_vs_attrition'},
            {'label': 'Age Distribution', 'value': 'age_distribution'},
            {'label': 'Correlation Matrix', 'value': 'correlation_matrix'},
            {'label': 'Attrition by Department', 'value': 'attrition_by_department'},
            {'label': 'Attrition by Gender', 'value': 'attrition_by_gender'},
            {'label': 'Attrition by Job Role', 'value': 'attrition_by_job_role'},
            {'label': 'Attrition by Education Field', 'value': 'attrition_by_education_field'},
            {'label': 'Attrition by Marital Status', 'value': 'attrition_by_marital_status'},
            {'label': 'Monthly Income Distribution', 'value': 'monthly_income_distribution'}
        ],
        value='attrition_count'
    ),
    
    # Graph to display the visualization
    dcc.Graph(id='visualization-graph')
])

# Callback to update the graph based on the selected visualization
@app.callback(
    Output('visualization-graph', 'figure'),
    Input('visualization-dropdown', 'value')
)
def update_graph(selected_visualization):
    if selected_visualization == 'attrition_count':
        fig = px.histogram(df, x='Attrition', title='Attrition Count')
    elif selected_visualization == 'monthly_income_vs_attrition':
        fig = px.box(df, x='Attrition', y='MonthlyIncome', title='Monthly Income vs Attrition')
    elif selected_visualization == 'age_distribution':
        fig = px.histogram(df, x='Age', nbins=30, title='Age Distribution')
    elif selected_visualization == 'correlation_matrix':
        corr_matrix = df.corr()
        fig = px.imshow(corr_matrix, title='Correlation Matrix')
    elif selected_visualization == 'attrition_by_department':
        fig = px.histogram(df, x='Department_Research & Development', color='Attrition', barmode='group', title='Attrition by Department')
    elif selected_visualization == 'attrition_by_gender':
        fig = px.histogram(df, x='Gender', color='Attrition', barmode='group', title='Attrition by Gender')
    elif selected_visualization == 'attrition_by_job_role':
        fig = px.histogram(df, y='JobRole_Sales Executive', color='Attrition', barmode='group', title='Attrition by Job Role')
    elif selected_visualization == 'attrition_by_education_field':
        fig = px.histogram(df, x='EducationField_Life Sciences', color='Attrition', barmode='group', title='Attrition by Education Field')
    elif selected_visualization == 'attrition_by_marital_status':
        fig = px.histogram(df, x='MaritalStatus_Single', color='Attrition', barmode='group', title='Attrition by Marital Status')
    elif selected_visualization == 'monthly_income_distribution':
        fig = px.histogram(df, x='MonthlyIncome', nbins=30, title='Monthly Income Distribution')
    else:
        fig = px.histogram(df, x='Attrition', title='Attrition Count')
    
    return fig

# Run the app
if __name__ == '__main__':
    app.run_server(debug=True)

In [9]:
python app.py

SyntaxError: invalid syntax (2255720966.py, line 1)